
div.bsDetailsMeta h4 {
	margin: 2px 0px;
}

div.bsDetailsMeta textarea {
	width: 100%;
	min-height: 200px;
}

table.bs_calendar {
	width: 100%;
	border-collapse: separate;
	border-spacing: 3px;
}

table.bs_calendar tbody tr {
	transition: height 1s ease;
	height: 20px;
}

table.bs_calendar tbody tr:hover {
	height: 100px;
	transition: height 1s;
}

table.bs_calendar td {
	width: 16%;
	vertical-align: top;
	border: solid 1px #333;
}

table.bs_calendar td.fill {
	color: #333;
}

table.bs_calendar td:not(.fill) {
	background-color: #111;
}

table.bs_calendar td.av {
	background-color: #010;
}

table.bs_calendar td.li {
	background-color: #110;
}

table.bs_calendar td.bo {
	background-color: #100;
}

table.bs_calendar td.we {
	width: 10%;
}

table.bs_calendar td.fill {
	color: #ddd;
}

@media (max-width: 400px) {
	table.bs_calendar thead {
		display: none;
	}

	table.bs_calendar tr {
	}

	table.bs_calendar td {
		display: block;
	}
	table.bs_calendar td.fill {
		display: none;
	}
}


div.bsBookingPopup {
	position: fixed;
	bottom: 0px;
	right: 10%;
	z-index: 1;
	width: 80%;
	text-align:right;
}

div.bsBookingPopup div.button,
div.bsBookingPopup div.bookingsFrame {
	color: #eee;
	background-color: #000;
}

div.bsBookingPopup div.button {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: inline-block;
	padding: 5px 10px;
}

div.bsBookingPopup div.bookingsFrame {
	max-height: 0px;
	text-align: left;
	padding: 0px;
	border-top-left-radius: 5px;
	overflow: hidden;
	-webkit-transition: max-height 1s ease 1s;
	-moz-transition: max-height 1s ease 1s;
	transition: max-height 1s ease 1s;
}

div.bsBookingPopup div.bookingsFrame > div {
	margin: 10px;
}

div.bsBookingPopup div.message.error {
	color: #f00;
	font-weight: bold;
}

div.bsBookingPopup div.message.success {
	color: #0f0;
	font-weight: bold;
}

div.bsBookingPopup div.message.confirm {
	border: solid 1px #aaa;
	padding: 10px;
}

div.bsBookingPopup div.bookings > div {
	padding: 0px;
}

div.bsBookingPopup div.bookings div.booking {
	padding: 5px;
}

div.bsBookingPopup div.bookingsFrame div.pastBookings > p {
	margin: 0px;
}

div.bsBookingPopup div.bookingsFrame div.bookings > div {
	padding: 0px;
}

div.bsBookingPopup div.button:hover {
	cursor: pointer;
}

div.bsBookingPopup div.items {
	padding: 10px;
}

div.bsBookingPopup a {
	color: #ccc;
}

div.bsBookingPopup div.items a.remove {
	color: #aaa;
	margin-left: 30px;
}

div.bsBookingPopup div.items a.remove:hover,
div.bsBookingPopup a:hover {
	color: #fff;
	cursor: pointer;
}

div.bsBookingPopup div.button:hover + div.bookingsFrame,
div.bsBookingPopup div.bookingsFrame:hover,
div.bsBookingPopup div.bookingsFrame.open {
	max-height: 70%;
	overflow-y: auto;
	-webkit-transition: max-height 1s ease 0s;
	-moz-transition: max-height 1s ease 0s;
	transition: max-height 1s ease 0s;
}
