[submodule "lib/fullcalendar"]
	path = lib/fullcalendar
	url = https://github.com/arshaw/fullcalendar.git
[submodule "lib/wp-settings"]
	path = lib/wp-settings
	url = https://github.com/weldstudio/wp-settings.git
[submodule "lib/jquery-ui-timepicker"]
	path = lib/jquery-ui-timepicker
	url = https://github.com/trentrichardson/jQuery-Timepicker-Addon.git
[submodule "lib/object-builder"]
	path = lib/object-builder
	url = https://github.com/MeldCE/object-builder.git
